[rhel-9-for-x86_64-appstream-rpms]
name=Red Hat Enterprise Linux 9 for x86_64 - AppStream (RPMs)
baseurl=http://{{ ansible_fqdn }}/rhel/9/AppStream/rhel-9-for-x86_64-appstream-rpms
enabled=1
gpgcheck=1
gpgkey=http://{{ ansible_fqdn }}/keys/RPM-GPG-KEY-redhat-release
