[rhel-9-for-x86_64-baseos-rpms]
name=Red Hat Enterprise Linux 9 for x86_64 - BaseOS (RPMs)
baseurl=http://{{ ansible_fqdn }}/rhel/9/BaseOS/rhel-9-for-x86_64-baseos-rpms
enabled=1
gpgcheck=1
gpgkey=http://{{ ansible_fqdn }}/keys/RPM-GPG-KEY-redhat-release
