[codeready-builder-for-rhel-9-x86_64-rpms]
name=Red Hat CodeReady Linux Builder for RHEL 9 x86_64 (RPMs)
baseurl=http://{{ ansible_fqdn }}/rhel/9/BaseOS
enabled=1
gpgcheck=1
gpgkey=http://{{ ansible_fqdn }}/rhel/9/keys/RPM-GPG-KEY-redhat-release
